/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background Styling */

:root {
    --bg-size: cover; /* Default size */
}

/* Background Styling */
body {
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnkybzhucG55M2w4NnV6cGpoNnF3czY0bnhrd2x6Z2NkeWh4ZnFkZyZlcD12MV9pbnRlcm5naWZfYnlfaWQmY3Q9Zw/PY3jUxrRsQVdx9CyFC/giphy.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 350px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
}



/* Content Box */
.content {
    margin-top: 300px;
    background-color: rgba(36, 74, 44, 0.9);
    padding: 20px;

    color: #ebf2fa;
    max-width: 100%;
}

/* Text Styling */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.highlight {
    color: #f6e731;
    font-weight: bold;
}

/* Button Styling */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #6fd94f;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #98da7c;
}

/* Reject Button */
.reject-btn {
    background-color: #d9534f;
}

.reject-btn:hover {
    background-color: #c9302c;
}

/* OR Text */
.or-text {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
      
    }

    .content {
        max-width: 95%;
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
        padding: 10px 15px;
    }

    .or-text {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .btn {
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}
